- extends "base.haml"
- load form_group

- block css
  %link{:href => "{{STATIC_URL}}css/index.css", :type => "text/css", :rel => "stylesheet"}

- block main
  %input#nextpage{:type => "hidden", :value => "{{ next }}", :name => "next"}

- block js
  :javascript
    $(function(){
      $("#modalContainer").load("{% url 'auth_login' %}?modal&noclose")
    })