- extends "modal.haml"
- load form_group

{%block id%}loginModal{%endblock%}
{%block size%}modal-sm{%endblock%}

- block title
  Login

- block body
  = form.non_field_errors
  %button.btn.btn-primary.btn-lg.btn-block{:onclick => "facebookConnect()", :type => "button"}
    Login with Facebook
	%hr
	%form#loginForm{:action => "{% url 'auth_login' %}", :method => "post"}
		- csrf_token
		- form_group form.username
		- form_group form.password
		%input{:type => "submit", :style => "display:none"}
		%input{:type => "hidden", :value => "{{ next }}", :name => "next"}

- block footer
  %a.btn.btn-primary.btn-lg{:onclick => "$(\"#loginForm\").submit()", :type => "button"} Login

- block js
  :javascript
    $(function(){
      $("#loginModal").modal('show')
      $("#loginForm").ajaxForm({
        success:function(data){
        	if(data.indexOf("loginForm")===-1){
        		window.location.href = "/";
        	}else{
	          $("#loginModal").on('hidden.bs.modal',function(){
	            $("#modalContainer").html(data)
	          })
	          $("#loginModal").modal('hide')
        	}
        }
      })
    })