- extends "base.haml"
- load form_group
- block main
  %h3.page-header
    Password change
  %p
    Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
  %hr
  %form.row{:action => "{{ request.get_full_path }}", :method => "post"}
    - csrf_token
    - if form.error
    .col-xs-5
      - form_group form.old_password
      - form_group form.new_password1
      - form_group form.new_password2
      %button.btn.btn-primary
        Change my password