- extends "base.haml"
- load form_group
- block main
  %h3.page-header
    Password reset
  %p
    Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
  %hr
  %form.row{:action => "{{ request.get_full_path }}", :method => "post"}
    - csrf_token
    .col-xs-5
      - form_group form.email
      %button.btn.btn-primary
        Reset my password