- extends "base.haml"
- load form_group
- block main
  %h3.page-header
    Password reset confirmation
  - if validlink
    %p
      Please enter your new password twice so we can verify you typed it in correctly.
    %hr
    %form.row{:action => "{{ request.get_full_path }}", :method => "post"}
      - csrf_token
      .col-xs-5
        - form_group form.new_password1
        - form_group form.new_password2
        %button.btn.btn-primary
          Change my password
  - else
    %p
      The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.