.bucket{
  position: fixed;
  background: white;
  left:-170px;
  top:200px;
  border-radius: 0 7px 7px 0;
  padding: 10px;
  z-index: 10;
  width: 200px;
  .course{
    width: 100%;
  }
  transition:left .5s @animationTiming;

  &:hover{
    left:0;
  }
}
.draging .bucket{
  left:0;
}