header.home{
  background: linear-gradient(to bottom, #372C3F, #2C1925);
  height:85%;
  margin:0 -15px;
  padding:30px 20px;
  color: white;
}
.schedule-suggest{
  padding: 3vh 0 2vh;
  margin-bottom: -15px;
  .container{
    position: relative;
  }
  .schedule-header{
    position: absolute;
    top:-55px;
    font-size: 24px;
    color:white;
  }
  .schedule-showmore{
    position: absolute;
    top:-2.5vh;
    right:0;
    font-weight: 600;
    color:#333;
  }
  .schedule{
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 1.5vh;
    height: 10vh;
    .schedule-icon{
      font-size: 7vh;
      color:#A599AD;
      float:left;
      margin-right:20px;
    }
    .schedule-title{
      font-size: 16px;
      color: #333;
      font-weight: 600;
    }
  }
}