.settingsbar{
  background: #545F69;
  margin:0 -15px 20px;
  padding: 20px;
  color:white;
  .container{
    padding: 0 30px;
  }
  .credit{
    font-size: 24px;
    line-height: 12px;
  }
}

.profile-pic{
  height:18px;
}