.navbar.navbar-default{
  height: @navbarHeight;
  box-shadow:0 0 0 1px @navbarBorderColor;
  border:none;
  .deleteBtn{
    color:@navbarBorderColor;
    transition:color .2s;
    font-size: 30px;
    &:hover{
      text-shadow: 0 0 5px @navbarBorderColor;
    }
  }
  .saveBtnGroup{
    margin-right: 20px;
  }
  #searchBtnWrapper{
    .form-control{
      border-radius: 20px;
      background: @navbarBorderColor;
      border-color: @navbarBorderColor;
      color:@navbar-default-color;
      box-shadow: none;
      transition:width .5s @animationTiming;
      width: 250px;
      &:hover,&:active,&:focus{
        box-shadow: none;
      }
      .placeholder(@navbar-default-color);
      &.focused{
        width: 400px;
        .placeholder(@navbarBorderColor);
      }
    }
    i.searchIndicator{
      position: absolute;
      left:280px+@sidebarWidth;
      line-height: 34px;
    }
  }
}

.searchResult{
  position: fixed;
  z-index: 20;
  top: @navbarHeight;
  left:0;
  right:0;
  background: @navbar-default-bg;
  color:@navbar-default-color;
  padding: 20px;
  border-bottom:1px solid @navbarBorderColor;
  border-radius: 0 0 3px 3px;
  transform-origin:50% 0%;
  transition:transform .5s @animationTiming;
  -webkit-transform-origin:50% 0%;
  -webkit-transition:-webkit-transform .5s @animationTiming, border .5s @animationTiming;
  h3{
    margin: 0 0 10px;
    a{
      transition:color .5s;
    }
  }
  p,div:not(.container){
    transition:opacity .5s;
  }
  &.hideUp{
    -webkit-transform:rotateX(90deg);
    transform:rotateX(90deg);
  }
  .submitCourseBtn{
    float:right;
  }
  .container{
    max-height: 280px;
    overflow: auto;
  }
  &.animate-course{
    border:1px solid #ccc;
    h3 a{
      color:#333;
    }
    p,div:not(.container){
      opacity: 0;
    }
  }
}

.suggestion{
  padding: 4px 10px;
  cursor: pointer;
  &:hover{
    background: lighten(@navbarBorderColor, 5%);
    color:@navbar-default-color;
    border-radius: 3px;
  }
  &.active{
    background: @navbarBorderColor;
    color:@navbar-default-color;
    border-radius: 3px;
  }
}
