@import "main.less";
@import "term.less";
@import "course.less";
body{
  background: #eeeeee;
}
.course{
  padding: 10px;
  font-size: 20px;
  color:rgb(127, 140, 151);
  font-weight: 600;
  border: 1px solid #ddd;
  border-radius: 4px;
}