@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  background: #2c3030;
  font-family: 'Raleway', sans-serif;
}
a {
  cursor: pointer;
}
.switchery {
  height: 32px;
  margin-left: -15px;
}
.switchery > small {
  height: 32px;
}
body {
  padding-top: 50px;
  transition: padding .4s;
  display: flex;
}
.left {
  width: 100%;
  position: relative;
  background: #2c3030;
  color: white;
}
.left .profile-pic {
  width: 100%;
  min-height: 100px;
}
.left .course {
  color: #333333;
}
.right {
  background: #f0f3f8;
  padding: 15px;
  min-height: 100%;
}
@media (min-width: 768px) {
  .left {
    position: fixed;
    padding: 15px;
    width: 220px;
    top: 50px;
    bottom: 0;
  }
  .left .userview {
    margin: -15px;
    margin-bottom: 20px;
  }
  .right {
    margin-left: 220px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
}
.navbar.navbar-default {
  z-index: 9999;
  font-weight: 200;
  background: #1abc9c;
  color: white;
  border-bottom: 3px solid #16a085;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.navbar.navbar-default a,
.navbar.navbar-default .navbar-brand {
  color: white;
}
.navbar.navbar-default .deleteBtn {
  color: #16a085;
  transition: color .2s;
  font-size: 30px;
}
.navbar.navbar-default .deleteBtn:hover {
  color: white;
}
.navbar.navbar-default .navbar-brand {
  width: 220px;
  border-right: 1px solid #16a085;
  height: 50px;
}
.navbar.navbar-default .navbar-brand i {
  font-size: 30px;
  position: absolute;
  top: 9px;
  left: 185px;
}
.navbar.navbar-default #searchBtnWrapper .form-control {
  border-radius: 20px;
  background: #16a085;
  border-color: #16a085;
  color: white;
  box-shadow: none;
  transition: width 0.3s, border-color 0.3s;
  width: 150px;
}
.navbar.navbar-default #searchBtnWrapper .form-control:hover,
.navbar.navbar-default #searchBtnWrapper .form-control:active,
.navbar.navbar-default #searchBtnWrapper .form-control:focus {
  box-shadow: none;
}
.navbar.navbar-default #searchBtnWrapper .form-control:-moz-placeholder {
  color: #ffffff;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control::-moz-placeholder {
  color: #ffffff;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control:-ms-input-placeholder {
  color: #ffffff;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control::-webkit-input-placeholder {
  color: #ffffff;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control.focused {
  width: 300px;
}
.navbar.navbar-default #searchBtnWrapper .form-control.focused:-moz-placeholder {
  color: #16a085;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control.focused::-moz-placeholder {
  color: #16a085;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control.focused:-ms-input-placeholder {
  color: #16a085;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control.focused::-webkit-input-placeholder {
  color: #16a085;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper i.searchIndicator {
  position: absolute;
  left: 500px;
  line-height: 34px;
}
.navbar.navbar-default .btn.btn-default {
  font-weight: 200;
  background: #16a085;
  border-color: #16a085;
  transition: border-color 0.3s;
  color: white;
  height: 34px;
}
.navbar .saveBtnGroup div,
.navbar .saveBtnGroup ul,
.navbar .saveBtnGroup li {
  vertical-align: middle;
  display: inline-block;
  height: 50px;
  line-height: 34px;
  padding: 8px;
}
.searchResult {
  position: fixed;
  z-index: 20;
  top: 53px;
  left: 0;
  right: 0;
  background: #1abc9c;
  padding: 15px 235px;
  border-bottom: 1px solid #16a085;
  transition: transform .4s;
  transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 0.4s;
}
.searchResult h3 {
  margin: 0 0 10px;
}
.searchResult.hideUp {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.searchResult .submitCourseBtn {
  float: right;
}
.suggestion.active {
  background: #16a085;
}
.preview {
  position: fixed;
  padding: 10px;
  border: 1px solid #aaaaaa;
  max-width: 550px;
  z-index: 1400;
  background: #fafafa;
  border-radius: 4px;
  box-shadow: 0 0 8px #aaaaaa;
  margin-right: 5px;
  -webkit-transform-origin: -10% -15%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.51, 1.37, 0.78, 1.45);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.51, 1.37, 0.78, 1.45);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  pointer-events: none !important;
}
.preview.show,
.preview.in {
  opacity: 0.96;
  pointer-events: all;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.preview h3 {
  margin: 5px;
}
.terms {
  padding: 0;
  margin: 0;
}
.terms:before {
  content: '';
  position: absolute;
  background: #d5d8da;
  width: 4px;
  left: 18%;
  margin-left: -2px;
  top: 30px;
  border-radius: 2px;
  bottom: 30px;
}
.term {
  position: relative;
  border-radius: 7px;
  padding: 20px;
  transition: border .3s;
  color: #7f8c97;
}
.term .skipTermBtn,
.term .insertTermBtn,
.term .removeTermBtn {
  opacity: 0;
  pointer-events: none;
}
.term .term-title {
  position: absolute;
  transition: top .4s;
  top: 35px;
  right: 85%;
  margin-top: -10px;
  line-height: 20px;
  font-size: 20px;
}
.term .courses {
  background: white;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 79%;
  float: right;
  position: relative;
}
.term .courses:before {
  content: " ";
  position: absolute;
  top: 15px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  left: -10px;
  border-left-width: 0;
  border-right-color: white;
}
.term .term-menu,
.term .term-menu .btn {
  position: absolute;
  left: 18%;
  top: 45px;
  height: 30px;
  width: 30px;
  border: 4px solid white;
  background: #d5d8da;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 30px;
  box-shadow: 0 0 4px #d5d8da;
}
.term .term-menu .btn {
  transition: opacity .4s, left .4s;
  opacity: 0;
  top: -4px;
  left: -4px;
  margin-left: 0;
  margin-top: 0;
  outline: none;
}
.term .term-menu .btn i {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  text-align: center;
  line-height: 24px;
}
.term.skiped {
  color: #aaa;
}
.term.skiped .courses {
  height: 40px;
  padding: 15px;
  font-size: 16px;
  background: none;
  box-shadow: none;
}
.term.skiped .courses:before {
  border: none;
}
.term:hover .skipTermBtn,
.term:hover .removeTermBtn,
.term:hover .insertTermBtn {
  opacity: 1;
  pointer-events: all;
}
.term:hover .term-title {
  top: 0;
}
.term:hover .term-menu .btn {
  opacity: 1;
}
.term:hover .term-menu .removeTermBtn {
  background: #e74c3c;
  left: -50px;
}
.term:hover .term-menu .insertTermBtn {
  background: #2ecc71;
  left: -90px;
}
.term:hover .term-menu .skipTermBtn {
  background: #34495e;
  left: -130px;
}
.backgroundText {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  color: #ddd;
}
.course {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.course .panel {
  margin: 0;
}
.course .panel-body {
  padding: 10px;
  font-size: 20px;
}
.course .panel-footer {
  min-height: 20px;
  padding: 3px 10px;
}
.course .panel-danger > .panel-footer {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.course:before {
  content: "";
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  border: 1px solid #555559;
  box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.35), 0 1px 0 #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  transition: opacity .3s;
}
.draging .course:before {
  opacity: 1;
}
.right .course {
  width: 23%;
  margin: 1%;
}
.left .course {
  width: 100%;
}
.moveBlock {
  height: 50px;
  font-size: 20px;
  line-height: 50px;
}
.btn.btn-default {
  cursor: pointer;
  color: #818a94;
  border: 1px solid #D6E1E6;
  background: none;
}
.btn.btn-default:active,
.btn.btn-default:focus {
  outline: none;
}
.btn.btn-default:active {
  border-color: #a1aab4;
}
.skipTermBtn,
.removeTermBtn,
.addTermBtn,
.moveBlock,
.insertTermBtn {
  transition: opacity .3s;
}
.draging {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.draging .term:hover {
  border-color: transparent;
}
.draging .term:hover .skipTermBtn,
.draging .term:hover .removeTermBtn,
.draging .term:hover .insertTermBtn {
  opacity: 0;
  pointer-events: none;
}
.draging .skipTermBtn,
.draging .removeTermBtn,
.draging .addTermBtn {
  opacity: 0 !important;
}
.userInfo {
  background: #222222;
  padding: 0;
}
.userInfo .name {
  font-size: 30px;
}
.userInfo a {
  padding: 10px 20px;
  display: block;
  color: white;
  text-decoration: none;
}
.userInfo ul {
  border-top: 1px solid #444;
}
.page-header {
  margin: 10px 15px 0;
  border: none;
}
.hide {
  display: none;
}
.invisible {
  opacity: 0;
}
.courseInputGroup {
  margin-bottom: 10px;
  height: 34px;
}
.courseInputGroup.hideBtn {
  display: block;
}
.courseInputGroup.hideBtn input.form-control {
  width: 100%;
  border-radius: 4px !important;
}
.courseInputGroup.hideBtn .btn {
  display: none;
}
