@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  background: #2c3030;
  font-family: 'Raleway', sans-serif;
}
a {
  cursor: pointer;
}
.switchery {
  height: 32px;
  margin-left: -15px;
}
.switchery > small {
  height: 32px;
}
body {
  padding-top: 50px;
  transition: padding .4s;
  display: flex;
}
.left {
  width: 100%;
  position: relative;
  background: #2c3030;
}
.left .profile-pic {
  width: 100%;
  min-height: 100px;
}
.right {
  background: white;
  padding: 15px;
  min-height: 100%;
}
@media (min-width: 768px) {
  .left {
    z-index: 2;
    min-height: 100%;
    width: 250px;
  }
  .right {
    flex: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
}
.navbar.navbar-default {
  z-index: 9999;
  font-weight: 200;
  background: #1abc9c;
  color: white;
  border-bottom: 3px solid #16a085;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.navbar.navbar-default a,
.navbar.navbar-default .navbar-brand {
  color: white;
}
.navbar.navbar-default i {
  font-size: 30px;
}
.navbar.navbar-default .deleteBtn {
  color: #16a085;
  transition: color .2s;
}
.navbar.navbar-default .deleteBtn:hover {
  color: white;
}
.navbar.navbar-default .navbar-brand {
  width: 250px;
  border-right: 1px solid #16a085;
  height: 50px;
}
.navbar.navbar-default .navbar-brand i {
  position: absolute;
  top: 9px;
  left: 215px;
}
.navbar.navbar-default #searchBtnWrapper .form-control {
  border-radius: 20px;
  background: #16a085;
  border-color: #16a085;
  color: white;
  box-shadow: none;
  transition: width 0.3s, border-color 0.3s;
  width: 150px;
}
.navbar.navbar-default #searchBtnWrapper .form-control:hover,
.navbar.navbar-default #searchBtnWrapper .form-control:active,
.navbar.navbar-default #searchBtnWrapper .form-control:focus {
  box-shadow: none;
}
.navbar.navbar-default #searchBtnWrapper .form-control:-moz-placeholder {
  color: #ffffff;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control::-moz-placeholder {
  color: #ffffff;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control:-ms-input-placeholder {
  color: #ffffff;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control::-webkit-input-placeholder {
  color: #ffffff;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control.focused {
  width: 300px;
}
.navbar.navbar-default #searchBtnWrapper .form-control.focused:-moz-placeholder {
  color: #16a085;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control.focused::-moz-placeholder {
  color: #16a085;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control.focused:-ms-input-placeholder {
  color: #16a085;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper .form-control.focused::-webkit-input-placeholder {
  color: #16a085;
  transition: color .3s;
}
.navbar.navbar-default #searchBtnWrapper i.searchIndicator {
  position: absolute;
  left: 540px;
  line-height: 34px;
}
.navbar.navbar-default .btn.btn-default {
  font-weight: 200;
  background: #16a085;
  border-color: #16a085;
  transition: border-color 0.3s;
  color: white;
  height: 34px;
}
.navbar .saveBtnGroup div,
.navbar .saveBtnGroup ul,
.navbar .saveBtnGroup li {
  vertical-align: middle;
  display: inline-block;
  height: 50px;
  line-height: 34px;
  padding: 8px;
}
.searchResult {
  position: fixed;
  z-index: 20;
  top: 53px;
  left: 0;
  right: 0;
  background: #1abc9c;
  padding: 15px 265px;
  border-bottom: 1px solid #16a085;
  transition: transform .4s;
  transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 0.4s;
}
.searchResult h3 {
  margin: 0 0 10px;
}
.searchResult.hideUp {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.searchResult .submitCourseBtn {
  float: right;
}
.btn.btn-default {
  cursor: pointer;
  color: #818a94;
  border: 1px solid #D6E1E6;
  background: none;
}
.btn.btn-default:active,
.btn.btn-default:focus {
  outline: none;
}
.btn.btn-default:active {
  border-color: #a1aab4;
}
.skipTermBtn,
.removeTermBtn,
.addTermBtn,
.moveBlock,
.insertTermBtn {
  transition: opacity .3s;
}
.moveBlock {
  height: 50px;
}
.dock {
  position: fixed;
  height: 80px;
  top: 50px;
  left: 250px;
  right: 0;
  padding: 15px;
  z-index: 200;
  background: #ecf0f1;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid #bdc3c7;
}
.dock .course {
  width: 150px;
  padding: 0 15px;
  display: inline-block;
}
.terms {
  margin-top: 80px;
}
.term {
  position: relative;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 7px;
  transition: border .3s;
}
.term.skiped {
  color: #aaa;
}
.term .skipTermBtn {
  opacity: 0;
  pointer-events: none;
}
.term .insertTermBtn,
.term .removeTermBtn {
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  font-size: 15px;
  line-height: 15px;
  background: white;
  padding: 0;
  top: -10px;
  text-align: center;
}
.term .insertTermBtn {
  left: 50%;
  margin-left: -100px;
  width: 200px;
}
.term .removeTermBtn {
  right: -10px;
}
.term:hover {
  border-color: #D6E1E6;
}
.term:hover .skipTermBtn,
.term:hover .removeTermBtn,
.term:hover .insertTermBtn {
  opacity: 1;
  pointer-events: all;
}
.course {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.course .panel {
  margin: 0;
}
.course .panel-body {
  padding: 10px;
  font-size: 20px;
}
.course .panel-footer {
  min-height: 20px;
  padding: 3px 10px;
}
.course .panel-danger > .panel-footer {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.preview {
  position: fixed;
  padding: 10px;
  border: 1px solid #aaaaaa;
  max-width: 550px;
  z-index: 1400;
  background: #fafafa;
  border-radius: 4px;
  box-shadow: 0 0 8px #aaaaaa;
  margin-right: 5px;
  -webkit-transform-origin: -10% -15%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.51, 1.37, 0.78, 1.45);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.51, 1.37, 0.78, 1.45);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.preview.show,
.preview.in {
  opacity: 0.96;
  pointer-events: all;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.preview h3 {
  margin: 5px;
}
.draging {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.draging .term:hover {
  border-color: transparent;
}
.draging .term:hover .skipTermBtn,
.draging .term:hover .removeTermBtn,
.draging .term:hover .insertTermBtn {
  opacity: 0;
  pointer-events: none;
}
.draging .skipTermBtn,
.draging .removeTermBtn,
.draging .addTermBtn {
  opacity: 0 !important;
}
.draging .course:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  border: 1px solid #555559;
  box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.35), 0 1px 0 #ffffff;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  border-radius: 4px;
}
.userInfo {
  background: #222222;
  padding: 0;
}
.userInfo .name {
  font-size: 30px;
}
.userInfo a {
  padding: 10px 20px;
  display: block;
  color: white;
  text-decoration: none;
}
.userInfo ul {
  border-top: 1px solid #444;
}
.backgroundText {
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #bbb;
}
.page-header {
  margin: 10px 15px 0;
}
.hide {
  display: none;
}
.invisible {
  opacity: 0;
}
.courseInputGroup {
  margin-bottom: 10px;
  height: 34px;
}
.courseInputGroup.hideBtn {
  display: block;
}
.courseInputGroup.hideBtn input.form-control {
  width: 100%;
  border-radius: 4px !important;
}
.courseInputGroup.hideBtn .btn {
  display: none;
}
