@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,400|Raleway:600,400);
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  background: #edf3f7;
  font-family: 'Raleway', sans-serif;
}
a {
  cursor: pointer;
}
.navbar-default {
  background: rgba(255, 255, 255, 0.8);
}
.left {
  min-height: 100%;
}
.right {
  background: white;
  min-height: 100%;
}
.right nav {
  padding: 20px 50px;
}
.skipTermBtn,
.removeTermBtn,
.addTermBtn,
.addCourseBtn,
.insertTermBtn {
  transition: opacity .3s;
}
.sourceCode {
  font-family: 'Source Code Pro';
}
.term {
  position: relative;
  margin: 10px 0;
  border: 2px solid transparent;
  border-radius: 7px;
  transition: border .3s;
}
.term .skipTermBtn {
  opacity: 0;
  pointer-events: none;
}
.term .insertTermBtn,
.term .removeTermBtn {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.51, 1.37, 0.78, 1.45), opacity 0.3s;
  transition: transform 0.3s cubic-bezier(0.51, 1.37, 0.78, 1.45), opacity 0.3s;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  line-height: 25px;
  height: 30px;
  top: -15px;
  text-align: center;
  background: white;
  border-radius: 15px;
  border: 2px solid #D6E1E6;
  color: #818a94;
}
.term .insertTermBtn:hover,
.term .removeTermBtn:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.term .insertTermBtn:active,
.term .removeTermBtn:active,
.term .insertTermBtn:focus,
.term .removeTermBtn:focus {
  outline: none;
}
.term .insertTermBtn {
  left: 50%;
  margin-left: -100px;
  width: 200px;
}
.term .removeTermBtn {
  width: 40px;
  right: -20px;
}
.term:hover {
  border-color: #D6E1E6;
}
.term:hover .skipTermBtn,
.term:hover .removeTermBtn,
.term:hover .insertTermBtn {
  opacity: 1;
  pointer-events: all;
}
.course {
  display: inline-block;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.course .panel {
  margin: 0;
  border-width: 2px;
}
.course .panel-body {
  padding: 10px;
  font-size: 20px;
}
.course .panel-footer {
  min-height: 20px;
  padding: 3px 10px;
  border-width: 2px;
}
.course .panel-danger > .panel-footer {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.addCourseBtn {
  font-family: 'Source Code Pro';
}
.addCourseBtn .panel {
  cursor: pointer;
  color: #818a94;
  border: 2px solid #D6E1E6;
  background: none;
}
.addCourseBtn .panel .panel-body {
  background: transparent;
  transition: background .3s,color .3s;
}
.addCourseBtn .panel:hover .panel-body {
  background: rgba(255, 255, 255, 0.5);
  color: #454a5e;
}
.preview {
  position: fixed;
  padding: 10px;
  border: 1px solid #aaaaaa;
  max-width: 550px;
  z-index: 1400;
  background: #fafafa;
  border-radius: 4px;
  box-shadow: 0 0 8px #aaaaaa;
  margin-right: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.51, 1.37, 0.78, 1.45);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.51, 1.37, 0.78, 1.45);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.preview.show,
.preview.in {
  opacity: 0.96;
  pointer-events: all;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.preview h3 {
  margin: 5px;
}
.btn.btn-default {
  cursor: pointer;
  color: #818a94;
  border: 2px solid #D6E1E6;
  background: none;
}
.btn.btn-default:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #454a5e;
}
.btn.btn-default:active,
.btn.btn-default:focus {
  outline: none;
}
.draging .term:hover {
  border-color: transparent;
}
.draging .term:hover .skipTermBtn,
.draging .term:hover .removeTermBtn,
.draging .term:hover .insertTermBtn {
  opacity: 0;
  pointer-events: none;
}
.draging .skipTermBtn,
.draging .removeTermBtn,
.draging .addTermBtn {
  opacity: 0 !important;
}
.draging .course:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  border: 2px solid #555559;
  box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.35), 0 1px 0 #ffffff;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  border-radius: 4px;
}
.hide {
  display: none;
}
.courseInputGroup {
  margin-bottom: 10px;
  height: 34px;
}
.courseInputGroup.hideBtn {
  display: block;
}
.courseInputGroup.hideBtn input.form-control {
  width: 100%;
  border-radius: 4px !important;
}
.courseInputGroup.hideBtn .btn {
  display: none;
}
