%html{lang:"en"}
  %head
    %title UWScheduler
    %link{:href => "{{STATIC_URL}}css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "{{STATIC_URL}}css/pe-icon-7-stroke.css", :rel => "stylesheet"}
    %link{:href => "{{ STATIC_URL }}django_facebook/css/facebook.css", :type => "text/css", :rel => "stylesheet"}
    - block css
      %link{:href => "{{STATIC_URL}}css/index.css", :type => "text/css", :rel => "stylesheet"}
    %script{:src => "{{STATIC_URL}}js/lib/jquery-2.0.3.min.js"}
    %script{:src => "{{STATIC_URL}}js/lib/jquery.form.min.js"}
    %script{:src => "{{STATIC_URL}}js/lib/bootstrap.min.js"}
    %script{:src => "{{STATIC_URL}}js/lib/moment.min.js"}
    %script{:src => "{{STATIC_URL}}js/lib/react/react-with-addons.js"}
    
    - include 'django_facebook/_facebook_js.html'
  %body
    - include "uservoice.html"
    #modalContainer
      - block modal
    %form#facebookForm.hide{:action => "{% url 'facebook_connect' %}?facebook_login=1", :method => "post"}
        %input{:type => "hidden", :value => "{{ request.path }}", :name => "next"}
        %input{:type => "hidden", :value => "{{ request.path }}", :name => "register_next"}
        %input{:type => "hidden", :value => "{{ request.path }}", :name => "error_next"}
        - csrf_token
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{:href => "/"} 
            UW Course Scheduler
          %button.navbar-toggle{:data-toggle => "collapse", :data-target => "#navbar-collapse"}
            %i.fa.fa-bars
        #navbar-collapse.collapse.navbar-collapse
            #searchBtnWrapper
            %ul.nav.navbar-nav.navbar-right
              -block navbar-right
              - if user.pk
                %li.dropdown
                  %a{:data-toggle => "dropdown", :href => "#"}
                    %img.profile-pic{:src => "{%if user.image%}{{user.image.url}}{%else%}/static/images/no-profile.jpg{%endif%}"}
                    -if user.first_name
                      = user.first_name
                      = user.last_name
                    -else
                      = user.username
                    %b.caret
                  %ul.dropdown-menu
                    - if user.is_superuser
                      %li
                        %a#admin-btn{:href => "/admin"}
                          Admin
                      %li.divider
                    %li
                      %a{:onclick => "$(\"#modalContainer\").load(\"{% url 'profile' %}\")"}
                        Profile
                    %li
                      %a{:href => "/accounts/logout"}
                        Logout
              - else
                %li
                  %a{:onclick => "$(\"#modalContainer\").load(\"{% url 'auth_login' %}?modal\")", :type => "button"}
                    Login
    - if errors
      - for error in errors
        .alert.alert-danger
          = error
    - block body
      .container.flex
        - block main
    %footer
      .container
        -block footer
          .pull-right
            Created & Maintained by Luke Zhao

    - block js