- extends "base.haml"
- block css
  %link{:href => "{{STATIC_URL}}css/edit.css", :type => "text/css", :rel => "stylesheet"}
- block js
  - if not private
    :javascript
      window.data={
        csrf_token: "{{csrf_token}}",
        name: "{{object.name}}",
        coursePlanId: {{coursePlanId|safe}},
        courseInfo: {{courseInfo|safe}},
        schedule: {{schedule|safe}},
        courseList: {{courseList|safe}},
        startYear: {{startYear|safe}},
        startTerm: {{startTerm|safe}},
        autoSave: {{user.profile.autosave|lower}},
      }
      window.allSubjects={{allSubjects|safe}}
    %script{:src => "{{STATIC_URL}}js/helpers.js", :type => "text/javascript"}
    %script{:src => "{{STATIC_URL}}js/searchInput.js", :type => "text/javascript"}
    %script{:src => "{{STATIC_URL}}js/edit.js", :type => "text/javascript"}

- block body
  .flex
    / if tour
    %link{:href => "{{ STATIC_URL }}css/bootstrap-tour.min.css", :type => "text/css", :rel => "stylesheet"}
    %script{:src => "{{STATIC_URL}}js/lib/bootstrap-tour.min.js"}
    %script{:src => "{{STATIC_URL}}js/editTour.js", :type => "text/javascript"}
    #main.edit
    - if private
      .paper
        %h3.text-center
          This course schedule does not belong to you.
