- extends "layout_sidebar.haml"
- block css
  %link{:href => "{{STATIC_URL}}css/switchery.min.css", :type => "text/css", :rel => "stylesheet"}
  %link{:href => "{{STATIC_URL}}css/index.css", :type => "text/css", :rel => "stylesheet"}
- block js
  %script{:src => "{{STATIC_URL}}js/lib/switchery.min.js", :type => "text/jsx"}
  %script{:src => "{{STATIC_URL}}js/index.js", :type => "text/jsx"}


- block left
  - if user.image
    %img.profile-pic.hidden-xs{:src => "{{ user.image.url }}"}
  - else
    %img.profile-pic.hidden-xs{:src => "{{STATIC_URL}}images/no-profile.jpg"}
  .userInfo.dropdown
    %a.name.dropdown-toggle{:href => '#user', :data-toggle => 'collapse',
    :data-parent => '.userInfo'}
      - if user.first_name
        = user.first_name
        = user.last_name
      - else
        = user.username
      %b.caret
    %ul#user.collapse
      %li
        %a{:href => "{% url 'auth_logout' %}"}
          Logout

- block navbar
  #searchBtnWrapper

  %form.navbar-form.navbar-right
    #id-auto-save-wrapper.form-group{:data-toggle => "tooltip", :data-placement => "bottom", :title => "Auto Save"}
      - if user.profile.autosave
        %input#id-auto-save{:type => "checkbox", :checked => "checked"}
      - else
        %input#id-auto-save{:type => "checkbox"}
  #saveBtnGroupWrapper.navbar-right

- block main
  - if errors
    - for error in errors
      .alert.alert-danger
        = error
  #main
  :javascript
    data={
      csrf_token: "{{csrf_token}}",
      user:{name: "{{user.first_name}} {{user.last_name}}"},
      courseInfo: {{courseInfo|safe}},
      schedule: {{schedule|safe}},
      courseList: {{courseList|safe}},
    }
    allSubjects={{allSubjects|safe}}