- extends "base.haml"
- block css
  %link{:href => "{{STATIC_URL}}css/switchery.min.css", :type => "text/css", :rel => "stylesheet"}
  %link{:href => "{{STATIC_URL}}css/index.css", :type => "text/css", :rel => "stylesheet"}
- block js
  %script{:src => "{{STATIC_URL}}js/lib/switchery.min.js", :type => "text/jsx"}
  %script{:src => "{{STATIC_URL}}js/index.js", :type => "text/jsx"}


- block body
  %nav.navbar.navbar-default.navbar-fixed-top
    .navbar-header
      .navbar-brand
        UW Course Scheduler
      %button.navbar-toggle{:data-toggle => "collapse", :data-target => "#navbar-collapse"}
        %i.fa.fa-bars
    #navbar-collapse.collapse.navbar-collapse
        #searchBtnWrapper
        %ul.nav.navbar-nav
          %li
            %a{:href => "/share/{{user.id}}"}
              Share
        %form.navbar-form.navbar-right
          #id-auto-save-wrapper.form-group{:data-toggle => "tooltip", :data-placement => "bottom", :title => "Auto Save"}
            - if user.profile.autosave
              %input#id-auto-save{:type => "checkbox", :checked => "checked"}
            - else
              %input#id-auto-save{:type => "checkbox"}
        #saveBtnGroupWrapper.navbar-right

  - if errors
    - for error in errors
      .alert.alert-danger
        = error
  #main
  :javascript
    data={
      csrf_token: "{{csrf_token}}",
      user:{name: "{%if user.first_name%}{{user.first_name}} {{user.last_name}}{%else%}{{user.username}}{%endif%}",
            imageurl: "{%if user.image%}{{user.image.url}}{%else%}static/images/no-profile.jpg{%endif%}"
            },
      courseInfo: {{courseInfo|safe}},
      schedule: {{schedule|safe}},
      courseList: {{courseList|safe}},
      startYear: {{startYear|safe}},
      startTerm: {{startTerm|safe}},
    }
    window.data=data
    allSubjects={{allSubjects|safe}}
