- extends "base.haml"
- block css
  %link{:href => "{{STATIC_URL}}css/index.css", :type => "text/css", :rel => "stylesheet"}


- block body

  -if user.pk
    #main
      .container
        %h3.page-header
          Your course schedules
          %a.btn.btn-default.pull-right{:onclick => "$(\"#modalContainer\").load(\"{% url 'create' %}\")"}
            Create New
        %table.table
          %thead
            %tr
              %th Name
              %th Created
              %th Last Modified
              %th Course Count
              %th
          %tbody
            - for courseplan in user.courseplan_set.all
              %tr
                %td
                  %a{:href => "{% url 'edit' courseplan.id %}"}
                    = courseplan.name
                %td
                    = courseplan.created
                %td
                    = courseplan.last_modified
                %td
                  .progress
                    .progress-bar.progress-bar-info.progress-bar-striped.active{:style => "width: {%widthratio courseplan.course_count 1 5%}%; color:#555"}
                      %strong 
                        &nbsp;{{courseplan.course_count}}&nbsp;/&nbsp;20

                %td
                  %a.btn.btn-danger.btn-sm.pull-right{:onclick => "$(\"#modalContainer\").load(\"{% url 'delete' courseplan.id %}\")"}
                    %i.fa.fa-trash-o.fa-fw
  -else
    - include "home.html"
