- extends "modal.haml"
- load form_group

{%block id%}profileModal{%endblock%}
{%block size%}modal-sm{%endblock%}

- block title
  Profile Setting

- block body
  - if form.non_field_errors
    - for err in form.non_field_errors
      .alert.alert-danger
        =err
  %form#profileForm{:action => "{{request.path}}", :method => "POST"}
    -csrf_token
    %p
      - form_group form.startYear 
      - form_group form.startTerm
      - form_group form.autosave label="Auto Save Schedule"
    %a{:href => "{% url 'password_change' %}", :target => "_blank"}
      Change password
    %input.hide{:type => "submit"}

- block footer
  %a.btn.btn-primary.btn-lg{:onclick => "$(\"#profileForm\").submit()", :type => "button"} Save

- block js
  :javascript
    $(function(){
      $("#profileModal").modal('show')
      $("#profileForm").ajaxForm({
        success:function(data){
          try{
            data = JSON.parse(data)
            window.data.startYear = data.startYear,
            window.data.startTerm = data.startTerm,
            window.data.autoSave = data.autoSave,
            $(document).trigger('dataUpdated')
          }catch(err){
            $("#profileModal").on('hidden.bs.modal',function(){
              $("#modalContainer").html(data)
            })
          }
          $("#profileModal").modal('hide')
        }
      })
    })
