- extends "base.haml"
- block css
  %link{:href => "{{STATIC_URL}}css/share.css", :type => "text/css", :rel => "stylesheet"}
- block js
  - if not private
    :javascript
      data={
        user:{name: "{{username}}"},
        courseInfo: {{courseInfo|safe}},
        schedule: {{schedule|safe}},
        courseList: {{courseList|safe}},
        startYear: {{startYear|safe}},
        startTerm: {{startTerm|safe}},
      }
      window.data=data
      allSubjects={{allSubjects|safe}}
    %script{:src => "{{STATIC_URL}}js/share.js", :type => "text/javascript"}


- block navbar-right
  %li
    %a{href: '#'}
      Create your schedule
  - if not private
    %li
      %a{href: '#'}
        Use this as template

- block body
  - if private
    .paper
      %h3.text-center
        This user did not share his/her schedule.
  - else
    #main
